
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>原始BASE</title>
    <link rel="stylesheet" type="text/css"
          href="/static/Myaap3/CSS/sty.css"/>
    <style>
        #header{
            background-color:red;
        }
        #footer{
          background-color:blue;
        }
    </style>
</head>
<body>
    <h1>zheshistatic文件</h1>
    <div id="header">yemei</div>
    <div id="footer">页脚</div>
    <h1>zheshistatic文件</h1>
    <img src="/static/Myaap3/IMGS/捕获.PNG"/>
</body>
</html>